<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }} {{ form.name() }}
    </div>
    <div>
        {{ form.price.label }} {{ form.price() }}
    </div>
    <div>
        {{ form.description.label }} {{ form.description() }}
    </div>
    <div>
        {{ form.stock.label }} {{ form.stock() }}
    </div>
    <div>
        {{ form.product_picture.label }} {{ form.product_picture() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
